.nutrientIcon {
    font-size: 96;
    margin-bottom: 48;
}

.title {
    font-size: 60;
    margin-top: 12;
    margin-bottom: 6;
    font-family: "LibreFranklin-SemiBold";
    text-align: center;
}

