<GridLayout columns="*" rows="auto, *" class="page pageContainer">
    <StackLayout row="0" col="0" class="body">
        <Label text="Food Selection" class="title h1" textWrap="true"></Label>
        <SegmentedBar #tabs [items]="items" [selectedIndex]="selectedIndex"></SegmentedBar>
        
        <StackLayout #firstTabContent>
            <select-food></select-food>
        </StackLayout>
        <StackLayout #secondTabContent>
            <food-choices></food-choices>
        </StackLayout>
        <StackLayout #thirdTabContent>
            <Label Text="3" class="h1"></Label>
        </StackLayout>
       
    </StackLayout>
    
    <StackLayout row="1" col="0"></StackLayout>
</GridLayout>